{{#each this}}
    <div class="gallery-card">
        <div class="gallery-card__img">
            <a href="{{largeImageURL}}" class="gallery-card__fullimg img__link link">
                <img
                    src="{{webformatURL}}"
                    alt="{{tags}}"
                    loading="lazy"
                    width="280"
                    height="185"
                    class="gallery-card__preview img"
                />
            </a>
        </div>
        <div class="gallery-card__info">
            <ul class="card-info__set">
                <li class="card-info__item item">
                    <p class="info-item">
                        <b>Likes:</b> <span class="info-item__volume">{{likes}}</span>
                        </p>
                </li>
                <li class="card-info__item item">
                    <p class="info-item">
                        <b>Views:</b> <span class="info-item__volume">{{views}}</span>
                    </p>
                </li>
                <li class="card-info__item item">
                    <p class="info-item">
                        <b>Comments:</b> <span class="info-item__volume">{{comments}}</span>
                    </p>
                </li>
                <li class="card-info__item item">
                    <p class="info-item">
                        <b>Downloads:</b> <span class="info-item__volume">{{downloads}}</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
{{/each}}